<section>
    <div class="card">
        <div class="front-face">
            <div class="icons">
                <img src="../../../assets/chip.png" alt="">
                <i class="fa fa-wifi"></i>
            </div>
            <div class="details">
                <h3 class="card-number">**** 5678</h3>
                <h3>AKMAL NASRULLAH
                    <a href="">05/24
                        <i class="fa fa-home"></i>
                    </a>
                </h3>  
            </div>
        </div>
    </div>
</section>

<div class="button">
   <h3>
        <i class="fa fa-home"></i>
        Add New Card</h3>
</div>

<mat-divider></mat-divider>

<app-quick-actions></app-quick-actions>

<app-saving-plan></app-saving-plan>

