<div class="container">
    <div class="header">
        <h3>Transaction History</h3>
        <div class="actions">
            <form action="" class="search-form">
                <label for="search-box" class="fa fa-search"></label>
                <input type="search" id="search-box" placeholder="Search anything here.....">
            </form>
        
            <button mat-raised-button>Filer
                <i class="fa fa-angle-down"></i>
            </button>
            <button mat-raised-button>Export
                <i class="fa fa-angle-down"></i>
            </button>
       </div>
       
    </div> 

    
        <app-table></app-table>
    
</div>    
