<div>
    <h3>Quick Actions</h3>
<div class="container">
    <div class="container-box">
        <div class="item item-1" id="box">
            <i class="fa fa-home"></i>
            <h4>Top Up</h4>
        </div>
          <div class="verticle-line-1">
    
          </div>
        <div class="item item-2" id="box">
            <i class="fa fa-home"></i>
            <h4>Transfer</h4>
        </div>
        <div class="verticle-line-2">
    
        </div>
        <div class="item item-3" id="box">
            <i class="fa fa-home"></i>
            <h4>Withdrawal</h4>
        </div>
    </div>
   
</div>
</div>

    <mat-divider></mat-divider>

