<div class="container">
    <div class="header">
        <h3>Total Balance</h3>
        <i class="fa fa-bars" id="menu-icon"></i>
    </div>
   
    <h2>$120,000.00</h2>
    
    <div class="progress-container">
        <div class="progress">
            <div class="progress-bar" style="width: 50%; background: #5169c0ee; border-radius: 6px;"></div>
        </div>
        <div class="span-items">
            <span>Monthly payment limit</span>
            <span>$10,500/$35,00</span>
        </div>
        
    </div>

</div>
