.container .header{
   display: flex;
   justify-content: space-between;
   padding: 20px;
}
.container h3{
    font-size: 20px;
    font-weight: bold;
}
.container h2{
    font-size: 40px;
    font-weight: bolder;
    padding: 20px;
}
.container .progress{
    position: relative;
    margin-top: 15px;
}
.container .span-items{
    display: flex;
    justify-content: space-between;
}
.container .progress-container{
    margin-top: 20px;
}
