<div class="container">
    <div class="header">
        <h3>Money Statictics</h3>
        <div class="button">
            <button mat-raised-button>Monthly
                <i class="fa fa-angle-down"></i>
            </button>
            <i class="fa fa-bars" id="menu-icon"></i>
       </div>
       
    </div>

    <div class="container-1">

        <div class="body-1">
            <h4>Total Income</h4>
            <h2>$570,000.00</h2>
            <span>
                <i class="fa fa-check" id="icon-green">
                    <span>+25%</span>                     
                </i>
                <span>from last month</span> 
            </span>
        </div>

        <div class="verticle-line-1"></div>
    

    
        <div class="body-2">
            <h4>Total Expense</h4>
            <h2>$356,000.00</h2>
            <span>
                <i class="fa fa-check" id="icon-red">
                    <span id="percent">+15% </span>
                </i>
                <span>from last month</span>
            </span>
        </div>

        <div class="verticle-line-2"></div>
    
    
        <div class="body-3">
            <h4>Total Investment</h4>
            <h2>$356,000.00</h2>
            <span>
                <i class="fa fa-check" id="icon-red">
                    <span id="percent">+6% </span>   
                 </i>
                <span>from last month</span> 
            </span>
        </div>
    </div>

        <app-charts></app-charts>

</div>   

