<div class="container">
    <div class="item item-1">
        <mat-toolbar>
            <span class="myCards">My Cards: 1
                <a href="">/2</a>
            </span>
            <span class="spacer"></span>
            <div class="icons">
             <i class="fa fa-home"></i>
             <i class="fa fa-home"></i>
            </div>
          </mat-toolbar>
          <app-credit-card></app-credit-card>
    </div>

    <div class="item item-2">
        <app-total-balance></app-total-balance>
    </div>
    <div class="item item-3">
        <app-money-statistics></app-money-statistics>
        
        
    </div>
    <div class="item item-4">
        <app-transaction-history></app-transaction-history>
    </div>
  </div>
  
  
  
  
