mat-toolbar{
    height: 75px;
    border-radius: 35px;
    background-color: black;
    margin-top: 3px;
    background-color: #fff;
}
.spacer {
    flex: 1 1 auto;
   
  }
  mat-toolbar .overview{
    font-weight: bold;
    padding: 30px;
    font-size: 30px;
  }
  mat-toolbar .search-form{
    width: 400px;
    height: 40px;
    border-radius: 15px;
    margin-left: 200px;
    background-color: #eee;
  }
  mat-toolbar .search-form input{
    border: none;
    background-color: #eee;
    padding: 2px;
    margin-left: 10px;
  }
  mat-toolbar .search-form label{
    margin-left: 10px;
  }
  mat-toolbar .badge-icons mat-icon{
    margin-right: 30px;
  }
  
  