<mat-toolbar>
    <span class="overview">Overview</span>
    <form action="" class="search-form">
        <label for="search-box" class="fa fa-search"></label>
        <input type="search" id="search-box" placeholder="Search anything here.....">
    </form>
    <span class="spacer"></span>
    <div class="badge-icons">
        <mat-icon matBadge="5" matBadgeColor="warn" id="message-icon" aria-hidden="false" >message</mat-icon>
        <mat-icon matBadge="5" matBadgeColor="warn" matBadgePosition="above after" id="notification-icon" aria-hidden="false" >notifications</mat-icon>
    </div>
   
  </mat-toolbar>
  
