 <div class="savingPlan">
    <h3>Saving Plan</h3>
    <i class="fa fa-bars"></i>
 </div>

 <div class="container">
    <div class="savingPlan-container">
        <div class="watch">
            <i class="fa fa-home" id="time"></i>
        </div>
        <span class="newWatch">New Watch</span>
        <i class="fa fa-bars" id="bars-icon"></i>
    </div>

    <div class="progress-container">
        <span>Total: $1000</span>
        <span class="percent">50%</span>
        <div class="progress">
            <div class="progress-bar" style="width: 50%; background: #065291ee; border-radius: 6px;"></div>
        </div>
    </div>
    
</div>


<div class="container-2">
    <div class="savingPlan-container-2">
        <div class="watch">
            <i class="fa fa-home" id="time"></i>
        </div>
        <span class="playStation">Play Station 5</span>
        <i class="fa fa-bars" id="bars-icon"></i>
    </div>
</div>  
